{% set active_page = "new_recipe" %}

{% extends "base_template.html" %}

{% block title %}Uusi resepti{% endblock %}

{% block main %}

{% if session.user_id %}

<div class="container">
  <div class="row">

    {% if message|length %}

    <div class="alert alert-warning" role="alert">
      {{ message }}
    </div>

    {% endif %}

    <form class="needs-validation" action="/new_recipe" method="POST" onsubmit="return check(this)">

      <div class="form-group">
        <label for="recipe_name">Reseptin nimi</label>
        <input type="text" class="form-control" name="recipe_name" placeholder="Anna reseptille kuvaava nimi" required>
      </div>

      <div class="form-group">
        <label for="portions">Annosten määrä</label>
        <select name="portions" class="form-control" id="portions" style="width:auto" required>
          <option value="1">1</option>
          <option value="2" selected>2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </div>


      <div id="newElementId">Ilmoita reseptin ainesosat ja määrät (kokonaislukuna). Voit valita yksiköksi "maun mukaan" ja määräksi 0, jos tarkkaa
        määrää ei voi antaa. (teelusikka=5ml, ruokalusikka=15ml) 
        <br>
        <button type="button" class="btn btn-outline-success btn-sm" value="Lisää ainesosia"
          onclick="createNewElement();">Lisää rivi</button>
        <button type="button" class="btn btn-outline-danger btn-sm" value="Poista viimeinen rivi"
          onclick="deleteLastElement();">Poista rivi</button>
      </div>

      <div class="form-group">
        <label for="description">Kuvaile ruoka-annosta lyhyesti</label>
        <textarea name="description" class="form-control" rows="3"
          placeholder="Minkä alueen ruoka on kyseessä? Kasvis- vai liharuoka? Mihin tilanteisiin ruoka sopii? Arkeen, juhlaan vai mökkireissuille? Tulinen vai mieto?"
          required></textarea>
      </div>

      <div class="form-group">
        <label for="instructions">Valmistusohje</label>
        <textarea name="instructions" class="form-control" rows="5"
          placeholder="Anna vaiheittain ruuan valmistusohjeet." required></textarea>
        <button type="submit" class="btn btn-primary my-1">Lisää resepti</button>
      </div>

      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

    </form>

  </div>
</div>

{% else %}

<div class="container">
  <div class="row">
    <div class="col">
      <p>Vain kirjautuneet käyttäjät voivat lisätä reseptejä.</p>
    </div>
  </div>
</div>

{% endif %}

<script type="text/JavaScript">

  function createNewElement() {
    // First create a DIV element.
    var txtNewInputBox = document.createElement('div');
    txtNewInputBox.class="container"
  
    // Then add the content (a new input box) of the element.
    txtNewInputBox.innerHTML = `{% include "ingredient_input_form.html" %}`
  
    // Finally put it where it is supposed to appear.
    document.getElementById("newElementId").appendChild(txtNewInputBox);
  }

  function deleteLastElement() {
    // Get the correct DIV element.
    var toDelete = document.getElementById("newElementId")

    // Check if any rows have been added
    if (toDelete.childNodes.length > 1) {     

      // Remove last child
      toDelete.removeChild(toDelete.lastChild)
    }
  }

  function check(form) {
    if (form.recipe_name.value.length > 100) {
      alert("Reseptin nimi saa sisältää enintään 100 merkkiä");
      return false;
    }
    if (form.description.value.length > 1000) {
      alert("Kuvaus saa sisältää enintään 1000 merkkiä)");
      return false;
    }
    if (form.instructions.value.length > 2000) {
      alert("Ohje saa sisältää enintään 2000 merkkiä");
      return false;
    }
    if (form.ingredient.value.length > 100) {
      alert("Ainesosan nimi saa sisältää enintään 100 merkkiä");
      return false;
    }
    if (form.amount.value.length > 100) {
      alert("Määrä saa sisältää enintään 100 merkkiä (käytä myös kokonaislukuja, jos 'maun mukaan' ei ole valittuna)");
      return false;
    }
    return true;
  }

</script>

{% endblock %}