{% extends "base_template.html" %}

{% block title %}Etusivu{% endblock %}

{% block main %}

<div class="container">

    <div class="row">
        <div class="col">
            <h2>Tervetuloa reseptisovellukseen!</h2>

            <p>Tämä on Helsingin yliopiston tietokantasovellus-kurssin harjoitustyö. Sovellukseen voit tallentaa omia reseptejäsi ja tarkastella muiden käyttäjien jättämiä reseptejä. Lisäksi voit kommentoida reseptejä.</p>

            <p>Sovellus on vielä hyvin keskeneräinen sekä ulkoasun että toimintojen osalta. Tarkoitus on lisätä sovellukseen vielä ainakin mahdollisuus arvioida reseptejä sekä luoda ostoslista. Mahdollisesti kirjautunut käyttäjä voi myöhemmin myös mm. muokata luomaansa reseptiä.</p>
        
        </div>
    </div>

    <div class="row">
        {% if session.user_id %}
        <p>Olet kirjautunut sisään.</p>
        {% else %}
        <p>Et ole kirjautunut sisään. Voit luoda tunnuksen tai kirjautua sovellukseen aiemmin luomallasi tunnuksella käyttäjä-valikosta. 
            Voit myös siirtyä tarkastelemaan reseptejä ilman kirjautumista, mutta uusien reseptien luominen sekä kommentointi vaatii kirjautumisen.
            (Tai oikeastaan ei tällä hetkellä taida vaatia, mutta ilman kirjautumista näidän kokeilu taitaa antaa virheen.)
        </p>
        {% endif %}
    </div>

</div>

{% endblock %}