{% set active_page = "home" %}

{% extends "base_template.html" %}

{% block title %}Etusivu{% endblock %}

{% block main %}

<div class="container">

    <div class="row">
        <div class="col">
            <h2>Tervetuloa reseptisovellukseen!</h2>

            <p>Tämä on kehityksessä oleva Helsingin yliopiston tietokantasovellus-kurssin harjoitustyö.
                Sovelluksessa voit tällä hetkellä tallentaa omia reseptejäsi, muokata jättämiäsi reseptejä, tarkastella
                muiden käyttäjien jättämiä reseptejä,
                kommentoida sekä arvioida reseptejä. Reseptejä voi myös hakea nimellä ja järjestää muutamalla tavalla.
            </p>

            <p>Sovellus on vielä keskeneräinen erityisesti ulkoasun osalta. Myös osa toiminnoista on vielä bugisia ja ostoslista on yleisesti eniten vaiheessa.
                Lähdekoodi löytyy osoitteesta <a
                    href="https://github.com/federma/tsoha-recipes">github.com/federma/tsoha-recipes.</a>
            </p>

        </div>
    </div>

    <div class="row">
        {% if session.user_id %}
        <p>Olet kirjautunut sisään ja voit vapaasti kokeilla sovelluksen toimintoja.</p>
        {% else %}
        <p>Et ole kirjautunut sisään. Voit luoda tunnuksen tai kirjautua sovellukseen aiemmin luomallasi tunnuksella
            kirjaudu-valikosta.
            Voit myös siirtyä tarkastelemaan reseptejä ilman kirjautumista, mutta uusien reseptien luominen sekä
            kommentointi vaatii kirjautumisen.
        </p>
        {% endif %}
    </div>

</div>

{% endblock %}