{% extends "base_template.html" %}

{% block title %}Reseptin tiedot{% endblock %}

{% block main %}

<i>Nimi: </i> {{ details[1] }}
<br>
<i>Ainekset: </i>
<p>
<ul>
    {% for item in ingredients %}
    <li>{{ item[1] }} {{ item[2] }}{{ item[3] }}</li>
    {% endfor %}
</ul>
<i>Annokset: </i>{{ details[3]}}
</p>
<i>Valmistusohje: </i>
<br>
{{ details[2] }}
<br>
<a href="/">Palaa etusivulle</a>
<p>
    <hr>
    {% for c in comment_list %}
    <i>Kommentoija: </i> {{ c[5] }}
    <br>
    <i>Kommentti annettu: </i> {{ c[2].strftime("%Y-%m-%d %H:%M:%S") }}
    <br>
    {{ c[1] }}
    <hr>
    {% endfor %}
</p>

<form action="{{ request.path }}" method="POST">
    <br>
    Kommentti:
    <br>
    <textarea name="comment" rows="10" cols="40"></textarea>
    <br>
    <input type="submit" value="Lisää kommentti">
</form>

{% endblock %}