{% extends "base_template.html" %}

{% set active_page = "recipes" %}

{% block title %}Reseptin tiedot{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">

      <!--name of the recipe-->
      <h2>{{ details[1] }}</h2>

      <p>{{ details[6] }}</p>

      <h5>Ainekset</h5>
      <ul>
        {% for item in ingredients %}
        <li>{{ item[1] }} {{ item[2] }} {{ item[3] }}</li>
        {% endfor %}
      </ul>

      <p>Annoksia {{ details[3] }} kpl</p>

      <h5>Valmistusohje</h5>

      <p>
        {{ details[2] }}
      </p>

      {% if session.user_id %}

      {% if not in_cart %}
      <form action="/shopping-list/edit" method="POST">
      <input type="hidden" name="recipe_id" value={{ details[0] }}>
      <button name="modify_shopping_cart" type="submit" class="btn btn-light btn-sm mx-1" value="insert">Lisää ostoslistaan</button>
      </form>

      {% else %}
      <form action="/shopping-list/edit" method="POST">
        <input type="hidden" name="recipe_id" value={{ details[0] }}>
        <button name="modify_shopping_cart" type="submit" class="btn btn-light btn-sm mx-1" value="remove">Poista ostoslistasta</button>
        </form>

      {% endif %}

      <h5>Arvioi resepti</h5>

      <form action="/grade" method="POST">
        <input type="hidden" name="r_id" value={{ details[0] }}>
        <select name="grade">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5" selected>5</option>
        </select>
        <button type="submit" class="btn btn-light btn-sm mx-1">Lähetä arvio</button>
      </form>

      {% endif %}

      <h5>Kommentit</h5>

      {% for c in comment_list %}
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">{{ c[5] }} sanoo</h6>
          <p class="card-subtitle mb-2 text-muted">{{ c[2].strftime("%Y-%m-%d %H:%M:%S") }}</p>
          <p class="card-text">{{ c[1] }}</p>
        </div>
      </div>
      {% endfor %}

      <!-- commenting is possible only for logged in users -->
      {% if session.user_id %}

      <form action="{{ request.path }}" method="POST">
        <div class="form-group">
          <label for="comment">Voit lisätä oman kommentin reseptiin</label>
          <textarea name="comment" class="form-control" rows="5"></textarea>
          <button type="submit" class="btn btn-primary mt-2">Lisää kommentti</button>
        </div>
      </form>

      {% else %}
      <p>Vain kirjautuneet käyttäjät voivat kommentoida reseptejä.</p>

      {% endif %}

    </div>
  </div>
</div>

{% endblock %}